<button class="button-index"><i class="fa-solid fa-arrow-up"></i></button>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const button = document.querySelector('.button-index');

      // Mostrar u ocultar el bot칩n basado en el desplazamiento de la p치gina
      window.addEventListener('scroll', function() {
          if (window.scrollY > 0) {
              button.classList.add('show');
          } else {
              button.classList.remove('show');
          }
      });

      // Desplazar la p치gina hacia arriba al hacer clic en el bot칩n
      button.addEventListener('click', function() {
          window.scrollTo({
              top: 0,
              behavior: 'smooth' // Desplazamiento suave
          });
      });
  });
</script>