<footer>
    <div class="footer-menus">
        <div class="footer-div-menus">
            <div class="singular-menu">
                <h3 class="footer-h3">Institucional</h3>
                <div class="sub-menus-footer" style="display: none;">
                    <a href="/users/somosgooolstore">Quiénes somos</a>
                    <a href="#">Historia</a>
                    <a href="#">Misión y Visión</a>
                    <a href="#">Políticas de privacidad</a>
                    <a href="#">Términos y condiciones</a>
                    <a href="#">Defensa al consumidor</a>
                </div>
            </div>
            <div class="singular-menu">
                <h3 class="footer-h3">Ayuda</h3>
                <div class="sub-menus-footer" style="display: none;">
                    <a href="#">FAQ</a>
                    <a href="#">Pagos y promociones</a>
                    <a href="#">Soporte Técnico</a>
                </div>
            </div>
            <div class="singular-menu">
                <h3 class="footer-h3">Atención al Cliente</h3>
                <div class="sub-menus-footer" style="display: none;">
                    <a href="#">Teléfonos</a>
                    <a href="#">Emails</a>
                    <a href="#">Horario</a>
                </div>
            </div>
        </div>
        <div class="">
            <h3>Síguenos en nuestras redes</h3> <br>
            <a class="iconos footer-icon-facebook" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="iconos footer-icon-x" href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a class="iconos footer-icon-instagram" href="#"><i class="fab fa-instagram"></i></a>
            <a class="iconos footer-icon-youtube" href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="">
            <h3>Newsletter</h3>
            <form action="#" method="post">
                <input class="e-mail" type="email" name="email" placeholder="E-mail" required>
                <button type="submit">Suscribirme</button>
            </form>
        </div>
    </div>

    <div class="footer-div-copyright">
        <div>
            <a href="/">
            <img src="/images/logo_sin_fondo.svg" alt="imagen de goool store">
            </a>    
        </div>
        <p class="footer-p-copyright">© Copyright GOOOL STORE 2024 - www.gooolstore.com.ar - TODOS LOS DERECHOS RESERVADOS. Las fotos del site y el logotipo son propiedad de www.gooolstore.com.ar y las marcas de sus respectivos titulares. Está prohibida la reproducción total o parcial, sin la expresa autorización del administrador de la tienda virtual. GOOOL STORE, empresa perteneciente al grupo DIGITALHOUSE con domicilio en "VALLA–A–SABER–DONDE" N° "VALLA–A–SABER–CUAL" de la Provincia de Buenos Aires – Argentina. </p>
    </div>
    <script>    
         document.querySelectorAll('.footer-h3').forEach(item => {
        item.addEventListener('click', event => {
            const content = event.target.nextElementSibling;
            const isVisible = content.style.display === 'block';
            document.querySelectorAll('.sub-menus-footer').forEach(content => {
                content.style.display = 'none';
            });
            content.style.display = isVisible ? 'none' : 'block';
        });
    });
    </script>
</footer>