paleta {
    color: #4970E3 rgb (73, 112, 227);
    color: #E0F5F6 rgb (224, 245, 246);
    color: #E5E5E5 rgb (229, 229, 229);
    color: #00B5B9 rgb (0, 181, 185);
    color: #004557 rgb (0, 69, 87);
    color: #00131F rgb (0, 19, 31);
 }
 
 /*------------------- HTML -----------------*/
 *{
     font-family: 'roboto';
 }
 
 /*------------------- BODY -----------------*/
 body { 
     background-color: #EEFCFF;
     margin: 0;
     width: 100%;
 }
 
 
 .errorValidator{
     color:rgba(248, 42, 87, 0.726);
 }
 
 .cuadros-login.error-border {
     border: 2px solid rgba(248, 42, 87, 0.726); /* Cambia el color del borde a rojo y aumenta el grosor */
     /* background-color: #ffffff;  */
     /* box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);  */
     border-radius: 4px; /* Mantiene los bordes redondeados */
 }
 
 .input-container {
     flex: 1; /* Asegura que cada contenedor ocupe el mismo espacio */
     margin-right: 10px; /* Espacio entre los campos */
 }
 
 .input-container:last-child {
     margin-right: 0; /* Elimina el margen en el último campo de la fila */
 }
 
 .error-container {
     display: flex; 
     justify-content: space-between; /* Espacia los elementos a lo largo de la línea */
     margin-bottom: 10px; /* Asegura que el contenedor de errores se muestre como bloque */
     margin-right: 0;
     /* gap: 9rem; */
 }
 
 .errorValidator{
     /* margin: 0 2% 1% 0; */
     justify-content: center;
     /* padding-left: 2%; */
     width: 100%;
     text-align: center;
    
 }
 
 
 /*----------------- HEADER -----------------
 .first-box { 
     width : 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .burger-menu {
     display: flex;
     align-items: center;
     color :#000000;
     background-color: #ffffff;
     width: 22px;
     height: 22px;
     padding: 7px;
     border-radius: 6px;
     font-size: 22px;
     position: absolute;
     left: 20px;
 }
 .burger-menu i{
     padding-left: 2px;
     font-weight: 900;
 }
 .imagen-box {
     position: relative;
     padding: 0 0 0 40%;
 }
 .imagen-box img { 
     height: 50px;
 }
 .box-icons {
     display: flex;
     align-items: center;
     position: absolute;
     right: 20px;
 }
 .box-icons > i {
     margin-left: 15px;
     font-size: 20px;
     font-weight: 900;
     cursor: pointer;
     color: #ffffff;
 }
 .box-icons > i:hover{
     color: #000000;
 }*/

/*------------------ MAIN ------------------*/
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.h1 {
    text-align: center;
    margin-bottom: 1em;
}

.form {
    margin-right: 2%;
}

.style-div {
    margin: inherit;
}

.h3 {
    color: #00B5B9;
    border-bottom: 2px solid #00B5B9;
    padding-bottom: 5px;
    margin-bottom: 1%;
}

.div-par {
    /* display: flex; */
    /* align-content: space-between; */
    gap: 1em;
    align-items: center;

    justify-content: center;
}

.container-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-content: center; */
    /* margin-left: 0; */
    /* margin-right: 0; */
    justify-content: center;
}

.personales {
    display: flex;
    /* align-content:center; */
    /* flex-wrap: wrap; */
    /* align-items: end; */
    /* align-self: center; */
    /* vertical-align: middle; */
    /* justify-items: center; */
    justify-content: space-evenly;
    gap: 2em;

}

.label {
    /* display: flex; */
    flex-direction: column;
    width: 48%;
    /* Para que haya 2 elementos por fila con espacio entre ellos */
    margin-bottom: 0.2em;
    /* Espacio entre filas */
}

label {
    margin-bottom: 1px;
}

input {
    padding: 0.3em;
    font-size: 16px;
}

.button-index {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    color: #000000;
    border-radius: 50%;
    background-color: #4878D9;
    border: none;
    cursor: pointer;
    display: none;
}

.button-index.show {
    display: block;
}

.button-index i {
    font-size: x-large;
    color: #000000;
}

.cuadros-login {
    margin: 1% 2% 1% 0;
    text-align: start;
    padding-left: 2%;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    border: 1px solid #00B5B9;
}

.style-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.style-label-r {
    display: flex;
    margin: 0% 10% 0% 10%;
    align-items: center;
    width: 16%;
    white-space: nowrap;
}

.h4 {
    margin: 6%;
}

.h4-2 {
    border-top: 2px solid #00B5B9;
    border-top-style: dashed;
    padding-top: 1%;
}

.style-label-cb {
    position: relative;
    cursor: pointer;
}

.style-label-cb input[type="checkbox"] {
    display: none;
}

.radio-checkbox {
    margin: 0% 10% 0% 0%;
    vertical-align: middle;
}

.style-label-user {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.style-label-cb img {
    display: block;
    width: 75px;
    height: auto;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s, transform 0.3s;
}

.style-label-cb input[type="checkbox"]:checked+img {
    border-color: #007bff;
    transform: scale(1.1);
}

.style-label-talla {
    display: flex;
    align-items: center;
}

.select-talla {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-talla option {
    font-size: 12px;
}

.style-div-botones {
    display: flex;
    margin: 5% 20%;
    align-items: center;
    justify-content: space-around;
}

.boton-aceptar {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #ebebeb;
    background-color: #2968c8;
    border-radius: 5px;
    margin: 2% 5% 2% 5%;
    padding: 10px 70px;
    border: none;
    font-weight: bold;
    height: 35px;
    cursor: pointer;
    transition: background-color 500ms;
}

.boton-aceptar:hover {
    background-color: #0022AA;
}

.boton-cancelar {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #ebebeb;
    background-color: #f52536;
    border-radius: 5px;
    padding: 10px 70px;
    border: none;
    font-weight: bold;
    height: 35px;
    cursor: pointer;
    transition: background-color 500ms;
}

.boton-cancelar:hover {
    background-color: #9c042a;
}

.style-label-acept {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkbox-accept {
    margin: 0% 2% 0% 0%;
    vertical-align: middle;
}

/*------------------ FOOTER ------------------*/
footer {
    color: #EEFCFF;
    background-color: #585858;
    border-top: 1px solid #18798B;
    width: 100%;
}

.footer-menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5em;
}

.footer-div-menus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.singular-menu {
    position: relative;
    display: inline-block;
    width: 90%;
}

.footer-icon i {
    margin-right: 12px;
    color: #EEFCFF;
    font-size: xx-large;
}

.footer-icon i:hover {
    color: #4878D9;
}

.footer-h3 {
    width: 100%;
    padding: 8px;
    box-sizing: content-box;
    cursor: pointer;
    margin: 5px;
}

.footer-h3:hover {
    background-color: #333;
}

.sub-menus-footer {
    display: none;
    color: #EEFCFF;
    background-color: #585858;
    padding: 10px;
}

.sub-menus-footer a {
    color: #EEFCFF;
    padding: 8px 30px;
    text-decoration: none;
    display: block;
}

.sub-menus-footer a:hover {
    background-color: #333;
}

footer img {
    height: 50px;
    padding: 0 10px;
}

.footer-div-copyright {
    display: flex;
    align-items: center;
    gap: 2%;
    background-color: #333;
    border-top: 1px solid #1a1a1a;
}

.footer-p-copyright {
    font-size: 12px;
    text-align: justify;
    padding: 0 20px;
}

/*------------------ MEDIA QUERYS ------------------*/

@media (min-width : 769px) {
    .imagen-box {
        position: relative;
        padding: 0 0 0 25%;
    }

    .style-label-user {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-evenly;
    }
}