*{
  font-family: 'roboto';
}
  body{
    background-color: white;
  }

  /* header {
    font-size: 12px;
    background-color:  #15a1a1;
    width: 100%;
    padding-bottom: 10px;
      } */
      
    
      
.nav_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-index {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  color: #000000;
  border-radius: 50%;
  background-color: #4878D9;
  border: none;
  cursor: pointer;
  display: none;
}
.button-index.show {
  display: block;
}
.button-index i {
  font-size: x-large;
  color: #000000;
}
.imagen_logo{
    width: 120px;
  }

  .menu2{
    display: flex;
    flex-wrap: wrap;
  }
  
  .barra_buscar{
    width: 700px;
    border-radius: 15px;

  }

  .barra{

font-size: large;

height: 50px;

  }

  /* .fa-search{
    position: relative;
    top: 18px;
    right: 20px;
    background-color: none;
    
    

  }


  .login_icons {
    display: flex;
    justify-content: right;
    margin: 5px;

  }
#icons{
    font-size: 25px;
    padding: 10px;
    color: #ffffff;
    border-right: dashed 2px whitesmoke;
}
 */


.barra {
    display: flex;
    justify-content: center;
  }
  
  .barra_buscar {
    border: 0;
  }
  
   
  label {
    display: none;
  }

/* .fa-brands{
    width: 60px;
} */
  .imagen_logo{
    background-color: none  ;
    width: 120 px;
    display: flex;
    align-items: center;
  }

  .menu_mobile{
    display: none;
  }

  main{

    font-size: 20px;

  }
  .opciones{
    background-color: aquamarine;
  }
   .opciones-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.opciones-2{
    margin: 20px;
}

.opciones-3{
    display: none;
}


.opciones-3:hover{

    cursor: pointer;
    display: block;
   

}
.product{

display: flex;
flex-wrap: nowrap;

}
.img-product{
    display: flex;
    box-sizing: border-box;
    
}

.img_product-1{
    width: 40%;
    }

 .det_product{
    display: flex;
    flex-direction: column;
    font-size: x-large;
 }
 
 .descriptions{
 width: 20%;
 font-size: 20px;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: stretch;
 }

 .n_article{

    display: flex;
    flex-direction: column;
    font-size: 15px;
 }



 /* footer { 
    background-color: #61BCD3;
    border-top: 1px solid #18798B;
}
.footer-div-menus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
} */
/* .singular-menu {
    position: relative;
    display: inline-block;
    width: 90%;
} */
/* .footer-h3 {
    width: 100%;
    padding: 8px;
    box-sizing: content-box;
    cursor: pointer;
    margin: 5px;
}
.footer-h3:hover {
    background-color: #13949C;
}
.sub-menus-footer {
    display: none;
    background-color: #61BCD3;
    padding: 10px;
}
.sub-menus-footer a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    display: block;
}
.sub-menus-footer a:hover {
    background-color: #13949C;
}
footer img { 
    height: 50px;
}
.footer-div-copyright {
    display: flex;
    align-items: center;
    gap: 2%;
    background-color: #13949C;
    border-top: 1px solid #18798B;
}
.footer-p-copyright {
    font-size: 10px;
    text-align: justify;
} */