*{
    font-family: 'roboto';
}
body {
    margin: 0;
    background-color: #EEFCFF;
    width: 100%;
}
.div-body {
    width: 100%;
    text-align: center;
    padding: 2%;
    
}
.nuestrosp{
    display: flex;
    text-align: center;
    justify-content: center;
}
.products-title {
    font-size: 42px;
    margin-bottom: 5rem;
    margin-top: 2rem;
    text-align: center;
    /* margin: auto; */

}
.banner{
    width: 100%;
    /* height: 250px; */
   
}
.normal{
    text-decoration: line-through;
    margin-bottom: 10px;
    font-size: 12px;
}
.precio-final{
   
    font-size: 16px;
}
.descuento{
    color: green;
    font-size: 14px;
    margin-left: 2px;
}
.signo{
    /* display: inline; */
    /* width: 100%; */
    /* height: 250px; */
    /* background-image: url(../img/banner.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    color: rgb(14, 53, 85);
    font-size: 12px;
    font-weight: bold;
    /* text-shadow: 2px 2px 4px #000000; */
}
.tipo{
    font-size: 20px;
    font-weight: bold;
    color: rgb(14, 53, 85);
    
}
.navegador{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEFCFF;
    height: 50px;
    width: 100%;
    /* color: rgb(218, 211, 211); */
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: 2px 2px 4px #7a7979; */
    gap: 10px;
    a, a:visited, a:hover, a:active {
        color: rgb(14, 53, 85);
        /* text-decoration: ; */
      }
}
.todos-los-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    section  {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        gap: 20px;
    }
    a {
        flex-basis: calc(33.333% - 20px); 
        text-align: center; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
        width: 100%;
        background-color: white;
        border: solid 2px #585858;
        border-radius: 15px;
        text-decoration: none;
        color: black;
        img {
            background-color:  white;
            height: 150px;
            padding: 10px 0;
            border-radius: 15%;
        }
        article {
            text-decoration: none;
        }
    }
}
.button-index {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    color: #000000;
    border-radius: 50%;
    background-color: #4878D9;
    border: none;
    cursor: pointer;
    display: none;
}
.button-index.show {
    display: block;
}
.button-index i {
    font-size: x-large;
    color: #000000;
}

.product-ejs:hover .fa-truck{
    cursor: pointer;
    position: relative; /* Posición relativa para el contenedor */
    overflow: hidden; /* Oculta el desbordamiento */
    transition: all 0.5s ease;
    animation: mover-y-desaparecer 2s linear infinite; /* Aplicar la animación al hacer hover */
   
}


.fa-truck{
    display: flex; /* Usamos Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    font-size: 17px;
    width: 30px;
    height: 30px;
    border: 2px solid #4878D9;
    border-radius: 50%;
    right: 70px;
    color: #4878D9;
    top: -30%;
    right: 10%;
    
    

}

@keyframes mover-y-desaparecer {
    0% {
        left: -30px; /* Comienza fuera de la vista por la izquierda */
        opacity: 2; /* Totalmente visible */
    }
    100% {
        left: 100%; /* Se mueve completamente a la derecha */
        opacity: 0; /* Se vuelve invisible */
    }
}

h2{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

/*--------------------------------------------efecto 1-------------------------------------------
.card-ejs {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-ejs:hover {
    transform: translateY(-5px); /* Eleva la tarjeta 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

-----------------------------------------------efecto 2-----------------------------------------
*/
.card-ejs {
    transition: all 0.5s ease-in-out;

}

.card-ejs:hover {
    transform: scale(1.05); 
    box-shadow: 0px 0px 10px rgb(71, 71, 71);
}





    
